// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.


// Colors

$secondary = #26A69A
$accent    = #9C27B0

// $dark      = #1D1D1D
$dark      = #000000

$positive  = #21BA45
$negative  = #F44336
$info      = #31CCEC
$warning   = #F2C037

// VCC
$transparent = rgba(0,0,0,0)
$darkOp50 = rgba(255,255,255,0.5)


// Primary
$primary = #5690F2
$primaryOpacity02 = alpha($primary, 0.2)

// Gray
$darkGray = #707070
$grey = #8C8C8C
$lightGrey = #C5C5C5
$veryLightGrey = #F2F2F2

$greyOpacity02 = alpha($grey, 0.2)




// Font
$fontSizeXs = 14px
$fontSizeSm = 16px
$fontSizeMd = 18px
$fontSizeLg = 20px


// Other
$borderRadius = 8px


// LP
$lpBackgroundColor = #e0e6ef

